#clearos_container {
  margin: 0 auto;
  width: 975px;
  text-align: left; /* IE center page hack  */
  padding 0;
  background-image: url('/templates/standard-5.1/images/content-bg.jpg');
  background-repeat: no-repeat;
  background-color: #E3E3E3;
  background-position: -0px 0px;
  z-index: -4;
  height: 750px;
}

#clearos_header
{
  width: 972px;
  height: 90px;
  padding-left: 0px;
  float: right;
  left: -2px;
  position: relative;
}

#clearos_left_menu_wrapper {
  position: relative;
  width: 208px;  
  height: auto;
  float: left;
  margin-top: 98px !important; /*moz*/
  margin-top: 12px; /*IE*/
  left: 7px !important; /*moz*/
  left: 6px; /*IE*/
}


#clearos_left_menu
{
  background-image: url('/templates/standard-5.1/images/left-nav-bottom.png');
  background-repeat: no-repeat;
  background-position: bottom left !important; /*moz*/
  background-position: 100.5% left; /*IE*/
  width: 208px;
  height: auto;
  margin-left: 8px;
  list-style: none;
  padding-top: 0px;
  padding-left: 13px;
  padding-bottom: 18px;
  margin-top: -140px !important; /*moz*/
  margin-top: px; /*IE*/
}

#left-nav-top{
  background-image: url('/templates/standard-5.1/images/left-nav-top.png');
  background-repeat: no-repeat;
  position: static;
  width: 208px;
  height: 150px !important; /*moz*/
  height: length; /*IE*/
  margin-left: 8px;
  margin-bottom: -97px;
}


ul#clearos_left_menu_list 
{
position: relative;
top: -15px !important; /*moz*/
top: -15px; /*IE*/
width: 195px;
z-index: 4;
list-style-type: none;
}


ul#clearos_left_menu_list li  li
{
border-style: none;
}

#clearos_top_menu
{
  color: #686868;
  height: 75px;
  padding-left: 20px;
  margin-left: 0px;
  width: 973px;
  margin-top: 5px;
  background-image: url('/templates/standard-5.1/images/navbar.png');
  background-repeat: no-repeat;
  float: left;
  position: relative;
  left: 0px;
  z-index: 10;
}

#clearos_top_menu2
{
  color: #686868;
  height: 75px;
  width: 740px;
  margin-top: 5px;
  background-image: url('/templates/standard-5.1/images/navbar-small.png');
  background-repeat: no-repeat;
  float: right;
  position: relative;
  left: -2px;
  z-index: 10;
}

#clearos_top_menu_list ul li.sfhover a {
}


ul#clearos_top_menu_list  li.sfhover  a {
color: #FFFFFF;
}

ul#clearos_top_menu_list  li.sfhover li a {
color: #686868;
}

ul#clearos_top_menu_list 
{
}

#clearos_top_menu_list
{
  height: 35px;
  left: -20px;
  padding-left: 20px;
  color: #686868;
  margin-top:  -7px;
  padding-top: 8px; 
}

ul#clearos_top_menu_list li
{
  border-left: 1px solid #f1f0f0;
  border-right: 1px solid #f1f0f0;
  padding-top: 2px !important; /*moz*/
  padding-top: 1px; /*IE*/

}

ul#clearos_top_menu_list ul {
padding-top: 8px;
color: #686868;
}


ul#clearos_top_menu_list  li li a:hover
{
color:                  #7DAE32;
}

#clearos_content
{
  clear: right;
  float: right;
  max-width: 725px;
  width: 725px;
  position: relative;
  left: -15px !important;
  left: -15px;
  top: 6px !important; /*moz*/
  top: 0px; /*IE*/
  z-index:0;
}

.ui-dialog { background: white };
.ui-dialog-titlebar {
  color:        #3f5680;
  background:   #f1f0f0;
};

.ui-widget
{
  max-width: 725px;
  width: 725px;
}

.ui-widget div.ui-state-default
{
  max-width: 717px !important;
  width: 717px !important;
  max-width: 725px;
  width: 725px;
  margin-top: 6px !important;
}

.ui-widget div.ui-state-error
{
  max-width: 717px !important;
  width: 717px !important;
  max-width: 725px;
  width: 725px;
  margin-top: 6px !important; /*moz*/
}

.ui-widget div.ui-tabs-panel
{
  max-width: 707px !important;
  width: 707px !important;
  max-width: 715px;
  width: 715px;
  margin-left: 4px !important; /*moz*/
  margin-left: 2px; /*IE*/
}

#clearos_footer
{
  background-image: url('/templates/standard-5.1/images/footer.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  clear: both;
  height: 29px !important; /*moz*/
  height: 35px; /*IE*/
  padding-top: 9px !important; /*moz*/
  padding-top: 8px; /*IE*/
  padding-left: 15px;
  margin-left: 13px;
  position: relative;
  top: 43px;
}

/* Header area */
#clearos_logo
{
  height: 95px;
  padding: 0;
  background-image: url('/templates/standard-5.1/images/logo.png');
  background-repeat: no-repeat;
  margin-top: -95px;
  margin-left: -26px;
}
#header-bg {
  background-image: url('/templates/standard-5.1/images/header-bg.png');
  background-repeat:  repeat-x;
  width: 950px;
  height: 95px;
  z-index: 0;
  margin-left: 24px; 
}

#clearos_osname
{
  margin: -19px 0px 0px 78px;
  font-family: Arial, Helvetica, sans serif;
  font-size: 10pt;
  display: none;
}
#clearos_fullname
{
  text-align: right;
  margin: -56px 2px 0px 0px;
  font-family: Arial, Helvetica, sans serif;
  font-size: 10pt;
  font-weight: bold;
  color: #7dae32;
}
#clearos_organization
{
  text-align: right;
  margin: 10px 2px 0px 0px;
  font-family: Arial, Helvetica, sans serif;
  font-size: 8pt;
}
#clearos_login_header {
  color: #ffffff;
  font-size:18px;
  font-weight: bold;
  padding: 0px 0px 10px 10px;
  margin: 3px 0px 10px 12px;
  /*float: left; */
}
#clearos_login_box {
height: 178px;
  font-size:  8pt;
  background: url(/templates/standard-5.1/images/logo-login-bg.png) ;
  padding: 4px;
  border: solid 1px #aaaaaa;
  -moz-border-radius-topleft: 10px; 
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px; 
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px; 
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px; 
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* Menu */

/* Tabs */

/* Wizard */
#clearos_wizardmenu {
  margin-top: 7px;
  width: 200px;
  margin-right: 10px;
}
.clearos_wizardcommon {
  text-align: left;
  white-space: nowrap;
}
.clearos_wizardtitle {
  padding: 9px 30px 11px 25px;
}
.clearos_wizardcurrent {
  background: #DDDDDD url(/templates/base/images/icons/16x16/icon-configuring.png) 5px no-repeat;
  padding: 6px 30px 6px 25px;
  border: 1px solid #BBBBBB;
}
.clearos_wizardcomplete {
  background: url(/templates/base/images/icons/16x16/icon-ok.png) 5px no-repeat;
  color: #999999;
  padding: 6px 30px 6px 25px;
  border: 1px solid #EEEEEE;
}
.clearos_wizardtodo {
  color: #999999;
  padding: 6px 30px 6px 25px;
  border: 1px solid #EEEEEE;
}

/* Summary Panel Breadcrumbs */

.clearos-breadcrumb {
  padding: 0px 0px 0px 0px;
  margin: 8px 2px 14px 5px;
  text-align: left;
  text-decoration: none;
  font-size: 8pt;
  font-weight: normal;
  color: #686868; /* BLUE */
}
.clearos-breadcrumb-highlight {
  color: #6b9824; /* GREEN */
  font-weight: bold;
}
#clearos-service-alert {
  padding: 0px 5px 0px 0px;
  margin: 8px 2px 14px 5px;
}
#clearos-service-alert a:hover,
#clearos-service-alert a:link,
#clearos-service-alert a:visited {
  text-align: right;
  text-decoration: none;
  font-size: 8pt;
  font-weight: bold;
  color: #F19649;
}
.clearos-summary {
  padding: 0px 10px 0px 0;
  margin: 0px 2px 8px -10px;
  font-size: 8pt;
  font-family: Arial, Helvetica, sans serif;
  color: #484848; /* GREY */
}
.clearos-summaryinfoleft {
  padding: 0px 0px 0px 0;
  margin: 4px 0px 4px 0px;
  font-size: 8pt;
  font-family: Arial, Helvetica, sans serif;
  background-color: #ffffff;
  color: #3c6290; /* DARK BLUE */
  border: solid 1px #d6d9de;
  -moz-border-radius-topleft: 6px; 
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px; 
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px; 
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px; 
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.clearos-summaryinforight {
  padding: 0px 0px 0px 0;
  margin: 4px 0px 4px 0px;
  font-size: 8pt;
    font-family: Arial, Helvetica, sans serif;
  background-color: #ffffff;
  color: #3c6290; /* DARK BLUE */
  border: solid 1px #d6d9de;
  -moz-border-radius-topleft: 6px; 
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px; 
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px; 
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px; 
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.clearos-summarytable {
  padding: 0px 0px 0px 0px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  /* needed to be fixed background: url(/templates/standard-5.1/images/in */
}
#clearos_top_menu li:hover li a:hover,
#clearos_top_menu li:hover li:hover a,
#clearos_top_menu li:hover a { color:#fff; }
#clearos_top_menu li:hover li:hover li a,
#clearos_top_menu li:hover li a { color:#686868; }
#clearos_top_menu li:hover li:hover li a:hover { color:#6b9824; }

/* Pete hack testing -- please delete */
.clearos_left_menu_subsection
{
  font-weight: bold;
  color: #686868;
  list-style-image:url('/images/transparent.gif');
  padding: 4px 0 0 0;
}

ul#clearos_top_menu_list .clearos_top_menu_subsection {
  background-image: url('/templates/standard-5.1/images/menu-bg-hover.gif');
  background-repeat: repeat-x;
  font-weight: bold;
  color: #686868;
  line-height: 19px !important; /*moz*/
  line-height: 21px; /*IE*/
  padding-left: 5px;
  width: 195px !important; /*moz*/
  width: 200px; /*IE*/
}

