/* Standard HTML Tags */

html, body {
  color: #686868;
  background-color: white;
  font-size:     8pt;
  font-family:   Arial, Helvetica, sans serif;
  margin:        0;
  padding:       0;
  text-align:    center; /* IE center page hack, override in clearos_container */
  background-image: url('/templates/standard-5.1/images/bg.jpg');
  background-repeat: repeat-x;
  background-color: #E3E3E3;
}
td,th {
  font-size:       8pt;
  font-family:     Arial, Helvetica, sans serif;
}
h1 {
  font-size:       13pt;
  font-family:     Arial, Helvetica, sans serif;
  color:           #3f5680;
}
h2,h3 {
  font-size:       11pt;
  font-family:     Arial, Helvetica, sans serif;
  color:           #3f5680;
}
hr {
  color:           #CCCCCC;
  width:           75%;
}
img {
  border-width:    0;
}
.clearos-breadcrumb img {
margin-bottom: 1px;
}
form {
  margin:          0;
}
pre {
  font-family:     monospace;
  font-size:       8pt;
}
textarea {
  font-size:       8pt;
  font-family:     Arial, Helvetica, sans serif;
  color: 			#484848;
  width:           100%;
  background:      transparent;
}
input {
  font-size:       8pt;
  font-family:     Arial, Helvetica, sans serif;
  color: 			#484848;
}
select {
  font-size:       8pt;
  font-family:     Arial, Helvetica, sans serif;
  vertical-align:  middle;
}
a:link {
  font-size:     8pt;
  text-decoration: none;
  color:           #686868;
}
a:visited {
  text-decoration: none;
  color: #686868;
}
a:hover {
}
a:active {
  font-size:     8pt;
  color:           #7DAE32;
  background-color: #A5A4A4;
}

/* Text Format Tags */

.small {
  font-size: 8pt;
  font-family: Arial, Helvetica, sans serif;
}
.content {
  font-size:    8pt;
  font-family:  Arial, Helvetica, sans serif;
  color:        black;
  background:   transparent;
}
.help {
  border-left: thin dotted #999999;
  padding: 9px;
}
.alert {
  font-size:    8pt;
  color:        red;
}
.ok {
  font-size:    8pt;
  color:        green;
}

/* Input Format Tags */

.readonly {
  color:           #666666;
  border:          none;
}

/* Tables */

.mytable {
  font-size:    8pt;
  background: white;
  padding: 1px;
  width: 100%;
  margin-left: 0px;
  border: 1px solid #D3D3D3;
  -moz-border-radius-bottomleft:10px;
  -moz-border-radius-bottomright:10px;
}
.mytabletitle {
  font-size:    8pt;
  font-family:  Arial, Helvetica, sans serif;
  font-weight:  bold;
  color:        #484848;
  padding-left: 25px;
  border: 1px solid #999999;
}

#tabs {
border:1px solid #AAAAAA;
margin-top: 6px;
  max-width: 717px !important;
  width: 717px !important;
  max-width: 725px;
  width: 725px;
}

#directory-info .ui-widget {
	margin-top: 0px !important;	
}

.mytableheader {
  font-size:    8pt;
  font-family:  Arial, Helvetica, sans serif;
  font-weight:  bold;
  color:        #3f5680;
  background: #f1f0f0;
  border-top:   1px solid #CCCCCC;
  border-bottom:   1px solid #c9c9c9;
  margin: 10px;
}
.mytablesubheader {
  font-size:    8pt;
  font-family:  Arial, Helvetica, sans serif;
  font-weight:  bold;
  text-align:   right;
  color:        #3f5680;
  background:   #f1f0f0;
  border-right: 3px solid #ffffff;
}
.rowenabled {
  font-size:    8pt;
  font-family:  Arial, Helvetica, sans serif;
  color:        #484848;
  background:   white;
}
.rowhoverhighlight {
  font-size:    8pt;
  font-family:  Arial, Helvetica, sans serif;
  color:        #484848;
  background:   #FFFCCC;
}
.rowenabledalt {
  font-size:    8pt;
  font-family:  Arial, Helvetica, sans serif;
  color:        #484848;
  background:   #f3f7ed;
}
.rowdisabled {
  font-size:    8pt;
  font-family:  Arial, Helvetica, sans serif;
  color:        #7a7a7a;
  background:   white;
}
.rowdisabledalt {
  font-size:    8pt;
  font-family:  Arial, Helvetica, sans serif;
  color:        #7a7a7a;
  background:   #f3f7ed;
}
.mytablealt {
  font-size:    8pt;
  font-family:  Arial, Helvetica, sans serif;
  color:        #484848;
  background:   #EEEEEE;
}
.mytablelegend {
  font-size:    8pt;
  font-family:  Arial, Helvetica, sans serif;
  color:        484848;
  text-align:   center;
  background:   #DDDDDD;
  border: 1px solid #CCCCCC;
  -moz-border-radius-bottomright: 10px; 
  -moz-border-radius-bottomleft: 10px; 
  -webkit-border-bottom-left-radius: 10px; 
  -webkit-border-bottom-right-radius: 10px;
}
.mytablecheckboxes {
  font-size:    8pt;
  border:       1px solid #999999;
  background:   white;
  margin:       2px;
  padding:      2px;
}
.iconenabled {
  background-image: url(/templates/standard-5.1/images/icon-enabled.png);
  background-repeat: no-repeat;
  background-position: 50% 45%;
  padding: 7px;
  width: 20px;
}
.icondisabled {
  background-image: url(/templates/standard-5.1/images/icon-disabled.png);
  background-repeat: no-repeat;
  background-position: 50% 45%;
  padding: 7px;
  width: 20px;
}
/* TODO: these should be handled in a better way in the new framework */
.pcn_icon_file { background: url(/templates/standard-5.1/images/icon-file.png ) center no-repeat; }
.pcn_icon_folder { background: url(/templates/standard-5.1/images/icon-folder.png ) center no-repeat; }
.pcn_icon_parent { background: url(/templates/standard-5.1/images/icon-parent.png ) center no-repeat; }
