/* ========================================================================= */
/* S T A N D A R D  H T M L  T A G S */
/* ========================================================================= */

html, body {
  color: #686868;
  background-color: white;
  font-size: 8pt;
  font-family: Arial, Helvetica, sans serif;
  margin: 0;
  padding: 0;
  text-align: center; /* IE center page hack, override in theme-page-container */
  background-image: url('../images/main-bg.png');
  background-repeat: repeat-x;
  background-color: #f1f0f0;
}

h1 {
  font-size: 12pt;
  color: #3f5680;
}

h2 {
  font-size: 11pt;
  color: #3f5680;
}

h3 {
  font-size: 10pt;
}

td,th {
  font-size: 8pt;
}

hr {
  color: #CCCCCC;
  width: 75%;
}

img {
  border-width: 0;
}

form {
}

pre {
  font-family: monospace;
  font-size: 8pt;
}

textarea {
  color: #484848;
  width: 100%;
  background: transparent;
}

input {
  color: #484848;
}

select {
  vertical-align: middle;
}

a:link {
  text-decoration: none;
  color: #686868;
}

a:visited {
  text-decoration: none;
  color: #686868;
}

a:active {
  color: #e1852e;
}



/* ========================================================================= */
/* W I D G E T S */
/* ========================================================================= */

/* ------------------------------------------------------------------------- */
/* Anchors */
/* ------------------------------------------------------------------------- */

/* Common anchor classes */
a.theme-anchor { }
a.theme-anchor-important { color: #333333 !important; }
a.theme-anchor-unimportant { color: #666666 !important; }

/* Standard anchors */
a.theme-anchor-add { }
a.theme-anchor-edit { }
a.theme-anchor-cancel { }
a.theme-anchor-delete { }

/* Custom anchor */
a.theme-anchor-custom { }

/* Javascript anchor */
a.theme-anchor-javascript { }

/* ------------------------------------------------------------------------- */
/* Buttons */
/* ------------------------------------------------------------------------- */

/* Common button class */
input.theme-form-submit { }
input.theme-form-important { color: #333333 !important; }
input.theme-form-unimportant { color: #666666 !important; }

/* Standard buttons */
input.theme-form-submit-add { }
input.theme-form-submit-delete { }
input.theme-form-submit-update { }

/* Custom button */
input.theme-form-submit-custom { }

/* ------------------------------------------------------------------------- */
/* Buttons Sets */
/* ------------------------------------------------------------------------- */

div.theme-button-set { color: red; background-image: url(); }

/* ------------------------------------------------------------------------- */
/* Field View */
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------- */
/* List Table */
/* ------------------------------------------------------------------------- */

.theme-list-table-container {
  margin-top: 0px;
  ^z-index: 0;
}
.theme-list-table-legend {
  text-align: center;	
}
.theme-list-table-add {
  text-align: left;
}
.theme-list-table-header {
  background: #FFFFFF url(../images/header-grad.png) no-repeat;
  height: 23px;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  width: 716px;
  ^width: 726px;
  margin-left: 0px;
}
.theme-list-table-title { 
  float: left;
  padding-left: 8px;
  padding-top: 3px;
  font-weight: normal;
  font-size: 14px;
  font-family: arial;
} 
.theme-list-table-action { 
  text-align: right;
  padding: 0 !important;
  font-size: 7pt !important;
} 

/* ------------------------------------------------------------------------- */
/* Summary Table */
/* ------------------------------------------------------------------------- */

.theme-summary-table-container {
  margin-top: 6px;
}
.theme-summary-table-legend {
  text-align: center;	
  border: blue 3px solid;
}
.theme-summary-table-add {
  text-align: left;
}
.theme-summary-table-header {
   background: #FFFFFF url(../images/header-grad.png) repeat-x;
  height: 23px;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  width: 716px;
  margin-left: 0px;
}
.theme-summary-table-title { 
  float: left;
  padding-left: 8px;
  padding-top: 3px;
  font-weight: normal;
  font-size: 14px;
  font-family: arial;
} 
.theme-summary-table-action { 
  text-align: right;
  padding: 0 !important;
  font-size: 7pt !important;
} 

/* ------------------------------------------------------------------------- */
/* Forms */
/* ------------------------------------------------------------------------- */

.theme-form-header {
  background: #FFFFFF url(../images/header-grad2.png);
  background-repeat: no-repeat;
  background-position: 2 0;
  ^background-position: 0 0;
/* Peter: reduced width/max-width by 250 */
  ^width: 460px;
	
}

.theme-form-header .theme-fieldset {
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-top: none;
  border-bottom: none;
}

.theme-form-header .theme-fieldset .theme-fieldset-legend {
  border-bottom: none;
  padding-left: 10px;
  margin-left: 0px;
  ^margin-left: -8px;
  padding-top: 0px;
  ^padding-top: 26px;
  ^padding-bottom: 0px;
/* Peter: reduced width by 250 */
/*
  width: 714px;
  ^width: 718px;
*/
  width: 414px;
  ^width: 468px;
  color: #98bb60;
  font-size: 14px;
  height: 0px;
  line-height: 5px;
  ^line-height: 16px;
  ^position: relative;
  ^top: -30px;

}

.theme-fieldset {
  position: relative;
  top: 15px;
  padding-bottom: 40px;
}

.theme-fieldset, x:-moz-any-link, x:default {
  position: relative;
  top: 15px;
  padding-bottom: 10px;
}

.theme-fieldset :first-child + div {
  padding-top: 30px;
}


.theme-form-header .theme-fieldset .theme-field-toggle {
  border: none;
  height: 0px;
/* Peter: reduced width/max-width by 250 */
  ^width: 460px;
}

.theme-form-header .theme-fieldset .theme-field-toggle, x:-moz-any-link, x:default  {
  border: none;
  height: 30px;

}

.theme-form-header .theme-fieldset .theme-field-toggle label {
  position: absolute;
  left: 15px;
}

.theme-form-header .theme-fieldset .theme-field-toggle select {
  position: absolute;
  right: 15px;
}

.theme-form-header .theme-button-set {
  background-image: url(../images/widget-bottom2.png);
  background-position: 0 3px;
  background-repeat: no-repeat;
  border-top: none;
  border-bottom: none;
  padding-left: 10px;
  padding-top: 0px;
  ^padding-top: 5px;
  padding-bottom: 15px;
  margin-left: 2px;
  ^margin-left: 0px;
/* Peter: reduced width by 250 */
/*
  width: 716px;
  ^width: 727px;
*/
  width: 466px;
  ^width: 477px;
}

.theme-form-header .theme-button-set, x:-moz-any-link, x:default {
	background-position: 0 -5px;
	padding-bottom: 10px;
	^background-position: 0 12px;
	^padding-bottom: 15px;
}



/* ------------------------------------------------------------------------- */
/* Summary Box */
/* ------------------------------------------------------------------------- */

.theme-summary-box-container {
  margin-top: 6px;
  width: 800px;
  border: blue 1px solid;
}
.theme-summary-box-header {
  background: #FFFFFF url(../images/main-nav-selected.png) repeat-x  50% 50%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}
.theme-summary-box-title { 
  float: left;
} 

/* ------------------------------------------------------------------------- */
/* Helpbox */
/* ------------------------------------------------------------------------- */

.theme-view-container {
  margin: 0 auto;
  width: 100%;
  padding: 5px;
}
.theme-view-contents {
  position: relative;
  height: auto;
  float: left;
  width: 50%;
}
.theme-view-help {
  clear: right;
  float: right;
  width: 50%;  
  position: relative;
}

/* ------------------------------------------------------------------------- */
/* Tabs */
/* ------------------------------------------------------------------------- */

/* REDO */

#tabs {
  border:1px solid #AAAAAA;
  margin-top: 6px;
  max-width: 717px !important;
  width: 717px !important;
  max-width: 725px;
  width: 725px;
}



/* ========================================================================= */
/* T H E M E  */
/* ========================================================================= */

/* ------------------------------------------------------------------------- */
/* Page Layout */
/* ------------------------------------------------------------------------- */

#theme-page-container {
  margin: 0 auto;
  width: 975px;
  text-align: left; /* IE center page hack  */
  padding: 0;
  z-index: -4;
}

/* ------------------------------------------------------------------------- */
/* Banner */
/* ------------------------------------------------------------------------- */

#theme-banner-container {
  width: 972px;
  padding-left: 0px;
  float: right;
  position: relative;
  height: 92px;
  ^z-index: 999;
}

#theme-banner-background {
 
}

#theme-banner-logo {
  height: 78px;
  background-image: url('../images/logo.png');
  ^background-position: 0 0;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-left: -10px;
  ^position: relative;
  ^left: 0px;
  ^padding-left: 10px;
}

.name-holder { 
	position: absolute;
	right: 3px;
	top: 15px;
	}

#theme-banner-fullname {
  font-size: 10pt;
  font-weight: bold;
  text-align: right;
  float: right;
  color: #a5a4a4;
}

#theme-banner-logout {
  Background-image: url('../images/login-arrow.png');
  background-position: right 3px;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 12px;
  text-align: right;
  float: right;
  margin-top: 2px;
  color: #98bb60;
  font-weight: bold;
}

#theme-banner-splash-container {
  height: 128px;
  width: 109px;
  margin: 30px auto;
  padding: 30px;
  background-image: url('../images/logo2.png');
  background-repeat: no-repeat;
}

#theme-banner-wizard-container {
  height: 128px;
  width: 109px;
  margin: 30px auto;
  background-image: url('../images/logo2.png');
  background-repeat: no-repeat;
}

/* ------------------------------------------------------------------------- */
/* Content Area */
/* ------------------------------------------------------------------------- */

#theme-main-content {
	background-image: url(../images/maincontent-bg.png);
	background-repeat: repeat-y;
	float: left;
	width: 975px;
	height: auto;
	^z-index: -1;
	}
	
.theme-main-content-top {
	background-image: url(../images/maincontent-top.png);
	background-repeat: no-repeat;
	height: 14px; 
	width: 972px;
	clear: both;
}

#theme-content-container {
/* Peter: reduced width/max-width by 250 */
/*
  max-width: 728px;
  width: 728px;
*/
  max-width: 478px;
  width: 478px;
  float: left;
  z-index:5;
  margin-left: 9px;
  position: relative;
  top: -2px;
  ^z-index: 0;
}

#theme-content-splash-container {
  width: 500px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

#theme-content-wizard-container {
  clear: right;
  float: right;
  max-width: 725px;
  width: 725px;
  position: relative;
  left: -15px !important;
  left: -15px;
  top: 12px !important; /*moz*/
  top: 0px; /*IE*/
  z-index:0;
}

/* Peter: added sidebar ... used absolute positioning instead of spending cycles on figuring this stuff out! */
#theme-sidebar-container {
  width: 240px;
  padding-right: 10px;
  margin-top: -20px;
/*
 *   position: absolute;
 *     top: 5px;
 *       left: 500px;
 *       */
  float: right;
}

/* ------------------------------------------------------------------------- */
/* Footer */
/* ------------------------------------------------------------------------- */

#theme-footer-container {
  background-image: url('../images/maincontent-bottom.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  clear: both;
  padding-top: 20px;
  padding-left: 15px;
  position: relative;
  line-height: 30px;
  top: 50px;
  z-index: -1;
}

/* ------------------------------------------------------------------------- */
/* Top Menu */
/* ------------------------------------------------------------------------- */

#theme-top-menu-container {
  color: #686868;
  width: 739px;
  height: 39px;
  background-image: url('../images/menu-bar.png');
  background-repeat: repeat-x;
  position: absolute;
  right: 2px;
  top: 41px;
  float: right;
  ^z-index: 999;
}

#theme-top-menu-list {
  height: 35px;
  left: -20px;
  padding-left: 12px;
  color: #686868;
  line-height: 19px;
  ^z-index: 999;
}

ul#theme-top-menu-list li.sfhover a {
  color: #FFFFFF;
  ^z-index: 999;
}

ul#theme-top-menu-list li.sfhover li a {
  color: #686868;
  ^z-index: 999;
}

ul#theme-top-menu-list li {
  border-left: 1px solid #f1f0f0;
  border-right: 1px solid #f1f0f0;
  padding-top: 2px !important; /*moz*/
  padding-top: 1px; /*IE*/
  ^z-index: 999;
}

ul#theme-top-menu-list ul {
  padding-top: 8px;
  color: #686868;
  ^z-index: 999;
}

ul#theme-top-menu-list li li a:hover {
  color: #7DAE32;
  ^z-index: 999;
}

#theme-top-menu-list a:active {
  background-color: transparent;
  ^z-index: 999;
}

ul#theme-top-menu-list .theme-top-menu-subcategory {
  background-image: url('../images/menu-bg-hover.gif');
  background-repeat: repeat-x;
  font-weight: bold;
  color: #686868;
  line-height: 19px !important; /*moz*/
  line-height: 21px; /*IE*/
  padding-left: 5px;
  width: 205px !important; /*moz*/
  width: 200px; /*IE*/
  ^z-index: 999;
}

/* ------------------------------------------------------------------------- */
/* Wizard Menu */
/* ------------------------------------------------------------------------- */

#theme-wizard-menu-container {
  position: relative;
  width: 208px;
  height: auto;
  float: left;
  margin-top: 32px !important; /*moz*/
  margin-top: 12px; /*IE*/
  left: 7px !important; /*moz*/
  left: 6px; /*IE*/
}

#theme-wizard-menu-top {
  background-image: url('../images/left-nav-top.png');
  background-repeat: no-repeat;
  position: static;
  width: 208px;
  height: 150px !important; /*moz*/
  height: length; /*IE*/
  margin-left: 8px;
  margin-bottom: -97px;
}

#theme-wizard-menu
{
  background-image: url('../images/left-nav-bottom.png');
  background-repeat: no-repeat;
  background-position: bottom left !important; /*moz*/
  background-position: 100.5% left; /*IE*/
  width: 208px;
  height: auto;
  margin-left: 8px;
  list-style: none;
  padding-top: 0px;
  padding-left: 13px;
  padding-right: 113px;
  padding-bottom: 18px;
  margin-top: -140px !important; /*moz*/
  /* margin-top: px; */ /*IE*/
}

/* ------------------------------------------------------------------------- */
/* Left Menu */
/* ------------------------------------------------------------------------- */

#theme-left-menu-container {
  background-image: url(../images/left-menu-bg.png);
  background-repeat: repeat-y;
  width: 213px;
  height: auto;
  float: left;
  margin-left: 12px;
  margin-bottom: -64px;
  position: relative;
  top: -2px;
}

#theme-left-menu-top {
  background-image: url('../images/left-menu-top.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  position: static;
  width: 213px;
  height: 12px !important; /*moz*/
  height: length; /*IE*/
}

#theme-left-menu
{
  background-image: url('../images/left-menu-bottom.png');
  background-repeat: no-repeat;	
  background-position: bottom left;
  width: 213px;
  height: auto;
  list-style: none;
  padding-top: 0px;
  padding-left: 13px;
  padding-bottom: 18px;
 
}

#theme-left-menu {
  margin-top: -4px;	
}

#theme-left-menu, x:-moz-any-link, x:default {
  margin-top: -6px;	
}



#theme-left-menu.ui-accordion {
  width: 213px;
}

.theme-left-menu-category {
  margin: 0;
  padding: 0;
}

.theme-left-menu-subcategory {
  font-weight: bold;
  color: #686868;
  list-style-image:url('../images/transparent.gif');
  padding: 4px 0 0 0;
}

.theme-left-menu-list {
  margin: 0;
  padding: 0;
}

.theme-left-menu-item {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  background-image: url(../images/small-left-arrow.png);
  background-repeat: no-repeat;
  background-position: 0 4px;
}
