/* ------------------------------------------------------------------------- */
/* Standard HTML Tags */
/* ------------------------------------------------------------------------- */

html, body {
  color: #686868;
  background-color: white;
  font-size: 8pt;
  font-family: Arial, Helvetica, sans serif;
  margin: 0;
  padding: 0;
  text-align: center; /* IE center page hack, override in clearos_container */
  background-image: url('../images/bg.jpg');
  background-repeat: repeat-x;
  background-color: #E3E3E3;
}

td,th {
  font-size: 8pt;
  font-family: Arial, Helvetica, sans serif;
}

h1 {
  font-size: 12pt;
  color: #3f5680;
}
h2 {
  font-size: 11pt;
  color: #3f5680;
}
h3 {
  font-size: 10pt;
}

hr {
  color: #CCCCCC;
  width: 75%;
}

img {
  border-width: 0;
}

form {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #CCCCCC;
  -moz-border-radius-topleft: 10px; 
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px; 
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px; 
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px; 
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

pre {
  font-family: monospace;
  font-size: 8pt;
}

textarea {
  font-size: 8pt;
  font-family: Arial, Helvetica, sans serif;
  color: #484848;
  width: 100%;
  background: transparent;
}

input {
  font-size: 8pt;
  font-family: Arial, Helvetica, sans serif;
  color: #484848;
}

select {
  font-size: 8pt;
  font-family: Arial, Helvetica, sans serif;
  vertical-align: middle;
}

a:link {
  font-size: 8pt;
  text-decoration: none;
  color: #686868;
}

a:visited {
  text-decoration: none;
  color: #686868;
}

a:hover {
}

a:active {
  font-size: 8pt;
  color: #7DAE32;
  background-color: #A5A4A4;
}

/* ------------------------------------------------------------------------- */
/* Anchors */
/* ------------------------------------------------------------------------- */

/* Common anchor classes */
a.clearos-anchor { }
a.clearos-anchor-important { color: #333333 !important; }
a.clearos-anchor-unimportant { color: #666666 !important; }

/* Standard anchors */
a.clearos-anchor-add { }
a.clearos-anchor-edit { }
a.clearos-anchor-cancel { }
a.clearos-anchor-delete { }

/* Custom anchor */
a.clearos-anchor-custom { }

/* Javascript anchor */
a.clearos-anchor-javascript { }

/* ------------------------------------------------------------------------- */
/* Buttons */
/* ------------------------------------------------------------------------- */

/* Common button class */
input.clearos-form-submit { }
input.clearos-form-important { color: #333333 !important; }
input.clearos-form-unimportant { color: #666666 !important; }

/* Standard buttons */
input.clearos-form-submit-add { }
input.clearos-form-submit-delete { }
input.clearos-form-submit-update { }

/* Custom button */
input.clearos-form-submit-custom { }

/* ------------------------------------------------------------------------- */
/* Buttons Sets */
/* ------------------------------------------------------------------------- */

/*
.clearos-button-set {
  margin-top: 0px;
  margin-bottom: 6px;
  margin-left: 10px;
}
*/

/* ------------------------------------------------------------------------- */
/* Summary Table */
/* ------------------------------------------------------------------------- */

.theme-summary-table-container {
  margin-top: 6px;
}
.theme-summary-table-legend {
  text-align: center;	
}
.theme-summary-table-add {
  text-align: left;
}
.clearos-summary-table-header {
  background: #FFFFFF url(../images/main-nav-selected.png) repeat-x  50% 50%;
  padding: 5px;
  color: #EEEEEE;
  font-weight: bold;
}
.clearos-summary-table-title { 
  float: left;
} 
.clearos-summary-table-action { 
  text-align: right;
  padding: 0 !important;
  font-size: 7pt !important;
} 

/* ------------------------------------------------------------------------- */
/* Forms */
/* ------------------------------------------------------------------------- */

fieldset {
  margin: 10px;
}

fieldset label {
  font-weight: bold;
}

/* ------------------------------------------------------------------------- */
/* Helpbox */
/* ------------------------------------------------------------------------- */

.clearos-view-container {
  margin: 0 auto;
  width: 100%;
  padding: 5px;
}
.clearos-view-contents {
  position: relative;
  height: auto;
  float: left;
  width: 50%;
}
.clearos-view-help {
  clear: right;
  float: right;
  width: 50%;  
  position: relative;
}

/* ------------------------------------------------------------------------- */
/* Field View */
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* Theme Layout */
/* ------------------------------------------------------------------------- */

#clearos6x-layout-container {
  margin: 0 auto;
  width: 975px;
  text-align: left; /* IE center page hack  */
  padding: 0;
  background-image: url('../images/content-bg.jpg');
  background-repeat: no-repeat;
  background-color: #E3E3E3;
  background-position: -0px 0px;
  z-index: -4;
  height: 750px;
}

#clearos6x-layout-header {
  width: 972px;
  height: 90px;
  padding-left: 0px;
  float: right;
  left: -2px;
  position: relative;
}

#clearos6x-layout-top-menu {
  color: #686868;
  height: 75px;
  width: 740px;
  margin-top: 5px;
  background-image: url('../images/navbar-small.png');
  background-repeat: no-repeat;
  float: right;
  position: relative;
  left: -2px;
  z-index: 10;
}

#clearos6x-layout-left-menu {
  position: relative;
  width: 208px;
  height: auto;
  float: left;
  margin-top: 98px !important; /*moz*/
  margin-top: 12px; /*IE*/
  left: 7px !important; /*moz*/
  left: 6px; /*IE*/
}

#clearos6x-layout-content {
  clear: right;
  float: right;
  max-width: 725px;
  width: 725px;
  position: relative;
  left: -15px !important;
  left: -15px;
  top: 6px !important; /*moz*/
  top: 0px; /*IE*/
  z-index:0;
}

#clearos6x-layout-footer {
  background-image: url('../images/footer.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  clear: both;
  height: 29px !important; /*moz*/
  height: 35px; /*IE*/
  padding-top: 9px !important; /*moz*/
  padding-top: 8px; /*IE*/
  padding-left: 15px;
  margin-left: 13px;
  position: relative;
  top: 43px;
}

/* ------------------------------------------------------------------------- */
/* Top Header Area */
/* ------------------------------------------------------------------------- */

#clearos6x-header-background {
  background-image: url('../images/header-bg.png');
  background-repeat:  repeat-x;
  width: 950px;
  height: 95px;
  z-index: 0;
  margin-left: 24px; 
}

#clearos6x-header-logo {
  height: 95px;
  padding: 0;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  margin-top: -95px;
  margin-left: -26px;
}

#clearos6x-header-osname { margin: -19px 0px 0px 78px;
  font-family: Arial, Helvetica, sans serif;
  font-size: 10pt;
  display: none;
}

#clearos6x-header-fullname {
  text-align: right;
  margin: -56px 2px 0px 0px;
  font-family: Arial, Helvetica, sans serif;
  font-size: 10pt;
  font-weight: bold;
  color: #7dae32;
}

#clearos6x-header-organization {
  text-align: right;
  margin: 10px 2px 0px 0px;
  font-family: Arial, Helvetica, sans serif;
  font-size: 8pt;
}

/* ------------------------------------------------------------------------- */
/* Top Menu Area */
/* ------------------------------------------------------------------------- */

#clearos6x-top-menu-list ul li.sfhover a {}

ul#clearos6x-top-menu-list  li.sfhover  a {
  color: #FFFFFF;
}

ul#clearos6x-top-menu-list  li.sfhover li a {
  color: #686868;
}

ul#clearos6x-top-menu-list {}

#clearos6x-top-menu-list {
  height: 35px;
  left: -20px;
  padding-left: 20px;
  color: #686868;
  margin-top:  -7px;
  padding-top: 8px; 
}

ul#clearos6x-top-menu-list li {
  border-left: 1px solid #f1f0f0;
  border-right: 1px solid #f1f0f0;
  padding-top: 2px !important; /*moz*/
  padding-top: 1px; /*IE*/
}

ul#clearos6x-top-menu-list ul {
  padding-top: 8px;
  color: #686868;
}

ul#clearos6x-top-menu-list  li li a:hover {
  color: #7DAE32;
}

#clearos6x-top-menu-list a:active {
    background-color: transparent;
}

ul#clearos6x-top-menu-list .clearos6x-top-menu-subcategory {
  background-image: url('../images/menu-bg-hover.gif');
  background-repeat: repeat-x;
  font-weight: bold;
  color: #686868;
  line-height: 19px !important; /*moz*/
  line-height: 21px; /*IE*/
  padding-left: 5px;
  width: 195px !important; /*moz*/
  width: 200px; /*IE*/
}

/* ------------------------------------------------------------------------- */
/* Left Menu Area */
/* ------------------------------------------------------------------------- */

#clearos6x-left-menu-top {
  background-image: url('../images/left-nav-top.png');
  background-repeat: no-repeat;
  position: static;
  width: 208px;
  height: 150px !important; /*moz*/
  height: length; /*IE*/
  margin-left: 8px;
  margin-bottom: -97px;
}

#clearos6x-left-menu.ui-accordion {
  width: 180px;
}
.ui-accordion-content {
  padding: 5px !important;
}
.theme-left-menu-header {
  margin: 0;
  padding: 0;
}
.theme-left-menu-list {
  margin: 0;
  padding: 0;
}
.theme-left-menu-item {
  list-style: none;
  margin: 0;
  padding: 0;
}
#clearos6x-left-menu
{
  background-image: url('../images/left-nav-bottom.png');
  background-repeat: no-repeat;
  background-position: bottom left !important; /*moz*/
  background-position: 100.5% left; /*IE*/
  width: 208px;
  height: auto;
  margin-left: 8px;
  list-style: none;
  padding-top: 0px;
  padding-left: 13px;
  padding-right: 113px;
  padding-bottom: 18px;
  margin-top: -140px !important; /*moz*/
  /* margin-top: px; */ /*IE*/
}

.clearos6x-left-menu-subcategory {
  font-weight: bold;
  color: #686868;
  list-style-image:url('../images/transparent.gif');
  padding: 4px 0 0 0;
}

/* ------------------------------------------------------------------------- */
/* Login Box Widget */
/* ------------------------------------------------------------------------- */

/*
#clearos_login_header {
  color: #ffffff;
  font-size:18px;
  font-weight: bold;
  padding: 0px 0px 10px 10px;
  margin: 3px 0px 10px 12px;
}

#clearos_login_box {
height: 178px;
  font-size:  8pt;
  background: url(../images/logo-login-bg.png) ;
  padding: 4px;
  border: solid 1px #aaaaaa;
  -moz-border-radius-topleft: 10px; 
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px; 
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px; 
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px; 
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
*/

/* ------------------------------------------------------------------------- */
/* Wizard */
/* ------------------------------------------------------------------------- */

/* TODO */

/* ------------------------------------------------------------------------- */
/* Tables */
/* ------------------------------------------------------------------------- */

/* REDO */

/* ------------------------------------------------------------------------- */
/* Tabs */
/* ------------------------------------------------------------------------- */

/* REDO */

#tabs {
  border:1px solid #AAAAAA;
  margin-top: 6px;
  max-width: 717px !important;
  width: 717px !important;
  max-width: 725px;
  width: 725px;
}

/* ------------------------------------------------------------------------- */
/* Breadcrumbs */
/* ------------------------------------------------------------------------- */
/*
.clearos-breadcrumb {
  padding: 0px 0px 0px 0px;
  margin: 8px 2px 14px 5px;
  text-align: left;
  text-decoration: none;
  font-size: 8pt;
  font-weight: normal;
  color: #686868;
}
.clearos-breadcrumb-highlight {
  color: #6b9824;
  font-weight: bold;
}
*/

