/* ========================================================================= */
/* S T A N D A R D  H T M L  T A G S */
/* ========================================================================= */

html, body {
  color: #686868;
  background-color: white;
  font-size: 8pt;
  font-family: Arial, Helvetica, sans serif;
  margin: 0;
  padding: 0;
  text-align: center; /* IE center page hack, override in theme-page-container */
  background-image: url('../images/main-bg.png');
  background-repeat: repeat-x;
  background-color: #f1f0f0;
}

h1 {
  font-size: 12pt;
  color: #98bb60;
}

h2 {
  font-size: 11pt;
  color: #686868;
}

h3 {
  font-size: 10pt;
}

td,th {
  font-size: 8pt;
}

hr {
  color: #CCCCCC;
  width: 75%;
}

img {
  border-width: 0;
}

form {
}

pre {
  font-family: monospace;
  font-size: 8pt;
}

textarea {
  color: #484848;
  width: 100%;
  background: transparent;
}

input {
  color: #484848;
}

select {
  vertical-align: middle;
}

a:link {
  text-decoration: none;
  color: #686868;
}

a:visited {
  text-decoration: none;
  color: #686868;
}

a:active {
  color: #e1852e;
}

button {background: white url(../images/button-bg.png) no-repeat top;}


/* ========================================================================= */
/* W I D G E T S */
/* ========================================================================= */

/* ------------------------------------------------------------------------- */
/* Anchors */
/* ------------------------------------------------------------------------- */

/* Common anchor classes */
a.theme-anchor { }
a.theme-anchor-important { color: #333333 !important; }
a.theme-anchor-unimportant { color: #666666 !important; }

/* Standard anchors */
.theme-anchor-add {
	background: url(../images/green-button-bg.png) repeat-x;
	border: 1px solid #648e20;
	color: #98bb60; 
	margin-top: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
	padding-left: 10px;
	^position: relative;
	^top: 4px;
	margin-right: 1px;
 }

.theme-anchor-add:hover {
	background: url(../images/green-button-bg-hover.png) repeat-x;
	border: 1px solid #648e20;
}

.theme-anchor-add .ui-button-text {
	font-size: 1.1em;
	color: #686868;
}

a.theme-anchor-edit {margin-right: 10px; }
a.theme-anchor-cancel {
	}
a.theme-anchor-delete { }

/* Custom anchor */
a.theme-anchor-custom { }

/* Javascript anchor */
a.theme-anchor-javascript { }

/* ------------------------------------------------------------------------- */
/* Buttons */
/* ------------------------------------------------------------------------- */

/* Common button class */

.theme-form-submit {
  background: transparent url('../images/button-bg.png') repeat-x;
  padding-left: 6px;
  padding-right: 6px;
  height: 22px;
  border: 1px solid #d1d3d4;
}

.theme-form-submit:hover {
  border: 1px solid #a5a4a4;	
}

/*
.theme-form-submit {
	background: transparent url('../images/button-bg.png') no-repeat scroll top left;
    color: white;
    display: block;
    font: normal 12px arial, sans-serif;
    height: 22px;
    text-decoration: none;
	border: none;
	padding-left: 8px;
	padding-right: 1px;
	^padding-left: 10px;
	^text-align: left;
	z-index: 0;
	position: relative;
	display: inline;
	}
	*/
	
/*
.theme-form-input {
	background: transparent url('../images/button-bg-span.png') no-repeat top right;
    display: block;
    padding-bottom: 10px;
	padding-left: 7px;
	height: 24px;
	border: none;
	z-index: 999;
	position: relative;
	top: -5px;
	display: inline;
}

.theme-form-input, x:-moz-any-link, x:default  {
	background: transparent url('../images/button-bg-span.png') no-repeat top right;
    display: block;
    padding-bottom: 9px;
	padding-left: 7px;
	height: 24px;
	border: none;
	z-index: 999;
	position: relative;
	top: -6px;
	display: inline;
}
*/

input.theme-form-important { color: #686868 !important; }
input.theme-form-unimportant { color: #686868 !important; }

input.theme-form-unimportant:hover {color: white;}


.theme-button-set .ui-buttonset span { display: none;}




/* Custom button */
input.theme-form-submit-custom { }

#indiv_install {padding-left: 5px; padding-right: 0px;}
#add_review {padding-left: 5px; padding-right: 0px; font-size: 10px; top: 1px;}

/* ------------------------------------------------------------------------- */
/* Buttons Sets */
/* ------------------------------------------------------------------------- */

div.theme-button-set { color: red; background-image: url(); }

/* ------------------------------------------------------------------------- */
/* Field View */
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------- */
/* List Table */
/* ------------------------------------------------------------------------- */

.theme-list-table-container {
  margin-top: 0px;
  ^z-index: 0;
  ^border: 1px solid #e1e1e1;
}
.theme-list-table-legend {
  text-align: center;	
}
.theme-list-table-add {
  text-align: left;
}
.theme-list-table-header {
  background: #FFFFFF url(../images/header-bg-green.png) repeat-x;
  height: 23px;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  width: 98.5%;
  ^width: 100.4%;
  margin-left: 0px;
}
.theme-list-table-title {
  float: left;
  padding-left: 8px;
  padding-top: 3px;
  font-weight: normal;
  font-size: 14px;
  font-family: arial;
}
.theme-list-table-action {
  text-align: right;
  padding: 0 !important;
  font-size: 7pt !important;
}

.theme-list-table-action .ui-buttonset {
	margin-right: 2px;
}

/* ------------------------------------------------------------------------- */
/* Summary Table */
/* ------------------------------------------------------------------------- */

.theme-summary-table {
  border-bottom: 1px solid #e1e1e1;
  ^border: 1px solid #e1e1e1;
}

.theme-summary-table-container {
  margin-bottom: 9px;
  -moz-border-radius: 9pz;
  border-radius: 9px
  border: 1px solid #e1e1e1;
}
.theme-summary-table-legend {
  text-align: center;	
  border: blue 3px solid;
}
.theme-summary-table-add {
  text-align: left;
}
.theme-summary-table-header {
  background: #FFFFFF url(../images/header-bg-green.png) repeat-x;
  height: 23px;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  width: 98.5%;
  ^width: 100%;
  margin-left: 0px;
}
.theme-summary-table-title {
  float: left;
  padding-left: 10px;
  padding-top: 3px;
  ^padding-top: 1px;
  ^padding-bottom: 2px;
  font-weight: normal;
  font-size: 14px;
  font-family: arial;
}
.theme-summary-table-action {
  text-align: right;
  padding: 0 !important;
  font-size: 7pt !important;
}

/* ------------------------------------------------------------------------- */
/* Forms */
/* ------------------------------------------------------------------------- */

.login {
	width: 430px;
	margin: auto;
	top: 30%;
	position: relative;
}

.logo-login {
	float: left;
	margin-right: 40px;
	background: url(../images/ClearOS-login.png) no-repeat;
	width: 131px;
	height: 155px;
}

.login .ui-button-text {
	background: url(../images/console-icon.png) no-repeat left center;
	padding-left: 20px;
}

.login a {
	float: right;
	margin-right: 14px;
	background: url(../images/button-bg-large.png) repeat-x;
	border-radius: 9px;
	border: 1px solid #e1e1e1;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: -1px;
}

.login a:hover {
	border: 1px solid #a5a4a4;
}

.login .theme-field-password input {
	margin-top: -2px;
}

.login fieldset {
	padding-top: 5px;
}

.login .theme-field-password {
	margin-bottom: 12px;
	height: 20px;
}

.login .theme-form-wrapper {
	padding-bottom: 11px;
}

.left-field-content {
	width: 130px;
	text-align: right;
	float: left;
	padding-top: 4px;
	padding-bottom: 5px;
}

.right-field-content {
	float: left;
	margin-left: 15px;
}

.input-box input {
	width: 200px;
}

.check {
	padding-top: 2px;
}

.theme-form-header {
  background: #FFFFFF url(../images/header-bg-grey.png);
  background-repeat: repeat-x;
  -moz-border-radius: 9px;
border-radius: 9px;
 border: 1px solid #e1e1e1;
  ^width: 100%;
}

.theme-form-wrapper {
  padding-bottom: 10px;
  padding-top: 30px;
  padding-left: 12px
}

.theme-form-header .theme-fieldset {
  border: none;
  width: 490px;
}

.login .input-box input {
	width: 120px;
	float: right;
}

.login .left-field-content label {
	float: left;
	
}

.login .left-field-content {
	text-align: left;
	width: 60px;
}

.login .right-field-content {
	float: right;
	padding-top: 3px;
}

.login .theme-form-container {
	width: 250px;
	float: left;
}

.login .theme-form-header {
	text-align: left;
}

.login .theme-fieldset {
	width: 235px;
}

.theme-fieldset-legend {
  color: #98bb60;
  font-size: 14px;
  padding-bottom: 10px;
}

.login .theme-fieldset-legend {
	display: none;
}

.theme-field-toggle {
	height: 25px;
  margin-bottom: 15px;
  ^height: 15px;	
}

.theme-field-toggle select {
	float: right;
	margin-right: 15px;
}

.theme-fieldview label {
	margin-left: 15px;
	line-height: 18px;
}

.theme-dropdown {
  margin-bottom: 15px;
  height: 15px;
}


.theme-dropdown select {
	float: left;
  }

.theme-form-footer {
 
}

/* ------------------------------------------------------------------------- */
/* Fields and Validation */
/* ------------------------------------------------------------------------- */

.theme-validation-error {
  color: red;
}

/* ------------------------------------------------------------------------- */
/* Summary Box */
/* ------------------------------------------------------------------------- */

.theme-summary-box-container {
  margin-top: 6px;
  width: 800px;
  border: blue 1px solid;
}
.theme-summary-box-header {
  background: #FFFFFF url(../images/main-nav-selected.png) repeat-x  50% 50%;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}
.theme-summary-box-title {
  float: left;
}

/* ------------------------------------------------------------------------- */
/* Helpbox */
/* ------------------------------------------------------------------------- */

.breadcrumb {
	color: #98bb60;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.help-sides {
}

.help-description {
	width: 435px;
	display: inline;
}

.help-assets {
	
	display: inline;
	
}

.help-assets-style {
	border: 1px solid #98bb60;
	padding: 5px;
	border-radius: 9px;
	width: 220px;
	height: 15px
	clear: both;
	margin-right: 15px;
	display: inline;
}

.help-assets-icons {
	float: right;
	margin-left: 15px;
	
}

.help-sides {
  boder-left: 1px solid #E1E1E1;

}

.theme-view-container {
  margin: 0 auto;
  width: 100%;
  padding: 5px;
}
.theme-view-contents {
  position: relative;
  height: auto;
  float: left;
  width: 50%;
}
.theme-view-help {
  clear: right;
  float: right;
  width: 50%; 
  position: relative;
}

#theme-content-help {
  background-image: url(../images/header-bg-grey.png);
  background-repeat: repeat-x;
  -moz-border-radius: 9px;
border-radius: 9px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-top: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 10px;
}

#theme-content-help .theme-dialogbox-info {
  padding-top: 0px;	
}

.help-sides .theme-dialogbox-info {
  margin-top: 5px;
  background: none;	
  border: none;
  color: #686868;
}

.help-sides p {
  margin-left: 15px;	
}

.help-sides ul {
  margin-bottom: 0px;
}

.help-bottom {

}

#theme-content-help h3 {
  position: relative;
  margin-top: 0px;
  top: 0px;
  left: 14px;
  color: #98bb60;
  font-weight: normal;
  font-size: 14px;
  width: 700px;
}

/* ------------------------------------------------------------------------- */
/* Progress Bar */
/* ------------------------------------------------------------------------- */

.ui-progressbar {
  background: url(../images/progressbar-bg.jpg) repeat-x;
  -moz-border-radius: 9px; border-radius: 9px; 
  height: 20px;
  border: 1px solid #d1d3d4;
}

.ui-progressbar-value {
  background: url(../images/progressbar.gif) repeat-x;
  position: relative;
  top: 1px;
  height: 24px;
  margin-top: 0px;
  -moz-border-radius: 9px; border-radius: 9px;
}

/* REDO */

.ui-dialog {
  background: #FFFFFF url(../images/header-bg-green.png) repeat-x;
}

/* ------------------------------------------------------------------------- */
/* Tabs */
/* ------------------------------------------------------------------------- */

/* REDO */

.ui-tabs { padding: 0; zoom: 1; background: white; border: none; }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding:; }
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; font-size: 9pt; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }

.ui-tabs .ui-widget-header {
border-bottom: 1px solid #45601C;
border-top:none;
border-left: none;
border-right: none;
}

.ui-tabs-nav .ui-state-active a {
color: #FFFFFF;
}

.ui-tabs-nav .ui-state-active a {
color: #FFFFFF;
background: #FFFFFF url(../images/main-nav-selected.png) repeat-x scroll 50% 50%;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
}

.ui-tabs-nav .ui-state-active a:hover {
color: #FFFFFF;
background: #FFFFFF url(../images/main-nav-selected.png) repeat-x scroll 50% 50%;
}


.ui-tabs-nav .ui-state-hover a {
background: #FFFFFF url(../images/main-nav-hover.png) repeat-x scroll 50% 50%;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
color: white;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { padding: 0em 0.1em; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }




/* ========================================================================= */
/* T H E M E  */
/* ========================================================================= */

/* ------------------------------------------------------------------------- */
/* Page Layout */
/* ------------------------------------------------------------------------- */

#theme-page-container {
  margin: 0 auto;
  width: 975px;
  text-align: left; /* IE center page hack  */
  padding: 0;
  z-index: -4;
}

/* ------------------------------------------------------------------------- */
/* Banner */
/* ------------------------------------------------------------------------- */

#theme-banner-container {
  width: 972px;
  padding-left: 0px;
  float: right;
  position: relative;
  height: 92px;
  ^z-index: 999;
}

#theme-banner-background {

}

#theme-banner-logo {
  height: 78px;
  background-image: url('../images/logo.png');
  ^background-position: 0 0;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-left: -10px;
  ^position: relative;
  ^left: 0px;
  ^padding-left: 10px;
}

.name-holder {
	position: absolute;
	right: 3px;
	top: 15px;
	}

#theme-banner-fullname {
  font-size: 10pt;
  font-weight: bold;
  text-align: right;
  float: right;
  color: #a5a4a4;
}

#theme-banner-logout {
  Background-image: url('../images/login-arrow.png');
  background-position: right 3px;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 12px;
  text-align: right;
  float: right;
  margin-top: 2px;
  color: #98bb60;
  font-weight: bold;
}

#theme-banner-splash-container {
  height: 128px;
  width: 109px;
  margin: 30px auto;
  padding: 30px;
  background-image: url('../images/logo2.png');
  background-repeat: no-repeat;
}

#theme-banner-wizard-container {
  height: 128px;
  width: 109px;
  margin: 30px auto;
  background-image: url('../images/logo2.png');
  background-repeat: no-repeat;
}

/* ------------------------------------------------------------------------- */
/* Content Area */
/* ------------------------------------------------------------------------- */

.theme-form-container {
	margin-bottom: 10px;
	^margin-top: 0px;
	}

#theme-main-content {
	background-image: url(../images/maincontent-bg.png);
	background-repeat: repeat-y;
	float: left;
	width: 975px;
	height: auto;
	^z-index: -1;
	}
	
.theme-main-content-top {
	/*
	background-image: url(../images/maincontent-top.png);
	background-repeat: no-repeat;
	height: 225px; */
	width: 972px;
	clear: both;
	position: relative;
}

.green-stroke-top {
	position: absolute;
	width: 972px;
	height: 12px;
	background-image: url(../images/green-stroke-top.jpg);
	background-repeat: no-repeat;
}

.green-stroke-left {
	position: absolute;
	left: 0px;
	top: 12px;
	width: 3px;
	height: 201px;
	background-image: url(../images/green-stroke-left.jpg);
	background-repeat: no-repeat;
}

.green-stroke-right {
	position: absolute;
	right: 0px;
	top: 12px;
	width: 3px;
	height: 201px;
	background-image: url(../images/green-stroke-right.jpg);
	background-repeat: no-repeat;
}

#theme-content-container {
/* Peter: reduced width/max-width by 250 */
/*
  max-width: 728px;
  width: 728px;
*/
  width: 729px;
  float: left;
  z-index:5;
  margin-left: 8px;
  position: relative;
  top: -1px;
  ^z-index: 0;
}

.theme-core-content {
  background-color: white;
  border: 1px solid #e1e1e1;
  border-top: none;
  background-repeat: repeat-y;
  margin-top: 12px;
  float: left;
  width: 970px;
  ^width: 972px;
  margin-bottom: -3px;
  -moz-border-radius-bottomleft: 15px; 
  -webkit-border-bottom-left-radius: 15px; 
  border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px; 
  -webkit-border-bottom-right-radius: 15px; 
  border-bottom-right-radius: 15px;
}

#theme-content-splash-container {
  width: 500px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

#theme-content-wizard-container {
  clear: right;
  float: right;
  max-width: 725px;
  width: 725px;
  position: relative;
  left: -15px !important;
  left: -15px;
  top: 12px !important; /*moz*/
  top: 0px; /*IE*/
  z-index:0;
}



#theme-content-left {
  width: 507px;
  float: left;
  clear: left;
  ^margin-top: 0px;	
}

/* Peter: added sidebar ... used absolute positioning instead of spending cycles on figuring this stuff out! */
#theme-sidebar-container {
  background-color: white;
  border: 1px solid #e1e1e1;
  -mox-border-radius: 9px;
  border-radius: 9px;
  width: 210px;
  float: right;
  margin-top: 0px;
  float: right;
  margin-bottom: 9px;
}

.sidebar-top {
  
}

.sidebar-bottom {
  
}

#theme-sidebar-container .theme-dialogbox-info  {
  border: none;	
  background: none;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 5px;
}

#theme-sidebar-container h3 {
  margin-top: 2px;
  color: #98bb60;
}

.theme-field-checkboxes {
  width: 100%;
  margin-bottom: 10px;
  float: left;
}

.theme-field-checkboxes input { 
	
 }

.theme-field-password {
  height: 30px;
}

.theme-field-password input {float: right; margin-right: 15px; }

.theme-field-progress-bar {
  width: 97.5%;
  float: left;
}



.theme-progress-bar {
  margin-top: 5px;	
}

/* ------------------------------------------------------------------------- */
/* Info Boxes */
/* ------------------------------------------------------------------------- */

.info-regular {border: 1px solid #a5a4a4; background-color: #fdfdfd; border-radius: 0px;}

.ui-state-error {border-radius: 0px; border: 1px solid red;}

.ui-state-highlight {border-radius: 0px; border: 1px solid #e5d33e;}

/* ------------------------------------------------------------------------- */
/* Footer */
/* ------------------------------------------------------------------------- */

#theme-footer-container {
  float: left;
  width: 972px;
  padding-top: 9px;
  padding-left: 12px;
  position: relative;

}

/* ------------------------------------------------------------------------- */
/* Top Menu */
/* ------------------------------------------------------------------------- */

#theme-top-menu-container {
  color: #686868;
  width: 739px;
  height: 39px;
  background-image: url('../images/menu-bar.png');
  background-repeat: repeat-x;
  position: absolute;
  right: 2px;
  top: 41px;
  float: right;
  ^z-index: 999;
}

#theme-top-menu-list {
  height: 35px;
  left: -20px;
  padding-left: 12px;
  color: #686868;
  line-height: 19px;
  ^z-index: 999;
}

ul#theme-top-menu-list li.sfhover a {
  color: #FFFFFF;
  ^z-index: 999;
}

ul#theme-top-menu-list li.sfhover li a {
  color: #686868;
  ^z-index: 999;
}

ul#theme-top-menu-list li {
  border-left: 1px solid #f1f0f0;
  border-right: 1px solid #f1f0f0;
  padding-top: 2px !important; /*moz*/
  padding-top: 1px; /*IE*/
  ^z-index: 999;
}

ul#theme-top-menu-list ul {
  padding-top: 8px;
  color: #686868;
  ^z-index: 999;
}

ul#theme-top-menu-list li li a:hover {
  color: #7DAE32;
  ^z-index: 999;
}

#theme-top-menu-list a:active {
  background-color: transparent;
  ^z-index: 999;
}

ul#theme-top-menu-list .theme-top-menu-subcategory {
  background-image: url('../images/menu-bg-hover.gif');
  background-repeat: repeat-x;
  font-weight: bold;
  color: #686868;
  line-height: 19px !important; /*moz*/
  line-height: 21px; /*IE*/
  padding-left: 5px;
  width: 205px !important; /*moz*/
  width: 200px; /*IE*/
  ^z-index: 999;
}

/* ------------------------------------------------------------------------- */
/* Wizard Menu */
/* ------------------------------------------------------------------------- */

#theme-wizard-menu-container {
  position: relative;
  width: 208px;
  height: auto;
  float: left;
  margin-top: 32px !important; /*moz*/
  margin-top: 12px; /*IE*/
  left: 7px !important; /*moz*/
  left: 6px; /*IE*/
}

#theme-wizard-menu-top {
  background-image: url('../images/left-nav-top.png');
  background-repeat: no-repeat;
  position: static;
  width: 208px;
  height: 150px !important; /*moz*/
  height: length; /*IE*/
  margin-left: 8px;
  margin-bottom: -97px;
}

#theme-wizard-menu
{
  background-image: url('../images/left-nav-bottom.png');
  background-repeat: no-repeat;
  background-position: bottom left !important; /*moz*/
  background-position: 100.5% left; /*IE*/
  width: 208px;
  height: auto;
  margin-left: 8px;
  list-style: none;
  padding-top: 0px;
  padding-left: 13px;
  padding-right: 113px;
  padding-bottom: 18px;
  margin-top: -140px !important; /*moz*/
  /* margin-top: px; */ /*IE*/
}

/* ------------------------------------------------------------------------- */
/* Left Menu */
/* ------------------------------------------------------------------------- */

#theme-left-menu-container {
  background-image: url(../images/left-menu-bg.png);
  background-repeat: repeat-y;
  width: 213px;
  height: auto;
  float: left;
  margin-left: 10px;
  margin-bottom: 2px;
  position: relative;
  top: -1px;
  z-index: 999;
}

#theme-left-menu-top {
  background-image: url('../images/left-menu-top.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  position: static;
  width: 213px;
  height: 12px !important; /*moz*/
  height: length; /*IE*/
}

#theme-left-menu
{
  background-image: url('../images/left-menu-bottom.png');
  background-repeat: no-repeat;	
  background-position: bottom left;
  width: 213px;
  height: auto;
  list-style: none;
  padding-top: 0px;
  padding-left: 13px;
  padding-bottom: 14px;

}

#theme-left-menu {
  margin-top: -4px;	
}

#theme-left-menu, x:-moz-any-link, x:default {
  margin-top: -6px;	
}

#theme-left-menu.ui-accordion {
  width: 213px;
}

.theme-left-menu-category {
  margin: 0;
  padding: 0;
}

.theme-left-menu-subcategory {
  font-weight: bold;
  color: #686868;
  list-style-image:url('../images/transparent.gif');
  padding: 4px 0 0 0;
}

.theme-left-menu-list {
  margin: 0;
  padding: 0;
}

.theme-left-menu-item {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  background-image: url(../images/small-left-arrow.png);
  background-repeat: no-repeat;
  background-position: 0 4px;
}

.theme-loading {
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  height: 23px;
  width: 22px;
  margin: auto;
  display: inline-block;
}
/* Standard buttons */
input.theme-form-submit-add { }
input.theme-form-submit-delete { }
.theme-list-table-container input.theme-form-submit-update  {
	background: url(../images/green-button-bg.png) repeat-x;
	border: 1px solid #648e20;
	color: #98bb60; 
	padding-bottom: 2px;
	margin-top: 1px;}
.theme-list-table-container input.theme-form-submit-update:hover {
	background: url(../images/green-button-bg-hover.png) repeat-x;
	border: 1px solid #648e20;
	
}


/* Miscellaneous items */

.login .theme-form-header h3 {
	width: 230px;
}
